*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.navbar-toggle{
    background-color:#fff; 
}
.navbar-toggle .icon-bar{
    background-color: #fff;
}
.header {
    color: #0b1c39;
     background-color: #fff;
}

.header-upper {
   padding-top: 10px; 
}
nav.navbar {
    margin: 0;
}
.logo{

    
}
.search-bar-container{
    position: relative;
}
.search-icon{
    position: absolute;
    border: none;
    background: none;
    top: -11px;
    padding: 7px 20px;
    font-size: 15px;
    right: 0px;
    color: #fff;
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    border: 1px solid;
    border-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}
input#search-entire {
    width: 450px;
    padding: 4px 12px;
    background: transparent;
    border: 1px solid grey;
    font-size: 18px;

}
input#search-entire:focus{
    outline: none;
}
input#search-entire::placeholder {

    color: lightgrey;
}
.header_btn{
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    background-color: #fff;
    border : 1px solid grey;
    color: #3F51B5 !important;;
    text-transform: capitalize;
    margin-left: 10px;
    
}
.trainer-btn{
     color: #fff !important;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    border: 1px solid;
    border-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
        margin-left: 20px;
}
.header_btn:hover,.header_btn:focus{
    background-color: #fff;
    border-color:1px solid #0b1c39;
    outline:none;
    transition: 0.5s;
    color: #0b1c39 !important;
}
.cart-btn{
    /*background-color: #f26d21;
    border: 2px solid #f26d21;*/
    color: #505050 !important;
    background: none;
    border: none;
    font-size: 28px;
}
.usr-btn,.dropdown-btn {
    background-color: #9E9E9E;
    color: white;
    border-radius: 50%;
    padding: 12px 16px;
    margin-left: 25px;
border-collapse: separate;
    
}
#cart-top{
    position: relative;
}
#cart-top::before {
    position: absolute;
    content: '1';
    background-color: #F44336;
    color: white;
    border-radius: 50%;
    top: -10px;
    font-weight: 600;
    right: 0;
    font-size: 10px;
    padding: 4px 8px;
}


.header-dropdown , .dropdown {
    display: inline-block;
}
  .dropdown:hover .dropdown-menu,.navbar-right .dropdown-men{
    display: block;
        right: -125px;
    top: 27px;
    width: 250px;
}
.dropdown:focus .dropdown-menu{
display: none;
}
.dropdown-menu  li{
    padding: 10px 10px;
    border-bottom: 1px solid lightgrey;
}
.dropdown-menu>li>a{
    padding: 0px;
}
a.user-email {
    font-size: 12px;
    color: #9E9E9E !important;
}
a:focus, a:hover{
    outline: none;
    text-decoration: none;
}
.dropdown-menu li a{
    color:#333;
}

.header-lower {
    background-color: #2338ad;
}

.header-lower nav.navbar {
    padding: 10px 0px;
    min-height: 0;
}
    
.header-lower .nav>li>a {
    color: #fff;
    margin: 0;
    padding: 4px 15px;
    line-height: 5px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
.header-lower li a:hover{
    color: #9E9E9E;
    background:none;
}


/*Banner CSS*/
.owl-carousel .owl-item img{
    height: 400px;
}
.owl-theme .owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}

/*Session card Section*/
/*Session card Section*/
.flex-container{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

}
.session-card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 
  text-align: center;
  font-family: arial;
  width: 280px;
    height: 310px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
     margin-right: 25px;
     position: relative;
}

.header-background{
background-color:MediumSeaGreen;
background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
color:white;
max-height: 85px;
overflow: hidden;
line-height: 80px;

}
.session-card-heading{
 font-size: 24px;
 padding: 10px 0;
     text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3;

}
.line{
width: 100%;

border-bottom: 3px solid grey;
position: relative;

}


.price {
  color: #ff3f40;
  font-size: .8em;
  font-size: 22px;
}


.session-ratings .checked{
    color: orange;
}
.training{

font-size:.9em;
color:  #a6a6a6;;
margin:2px;
    
}

.timings-title{

font-size:.9em;
color:  #a6a6a6;;
margin:2px;
    
}

.timings{

font-size:1.1em;
color:  #000080;
margin:2px;
    
}
 
.session-card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-inner {

  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 260px;
  text-align: center;
}

.card-front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;  
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.session-summary{
    color:#9e9e9e;
}
.card_back  {
  transform: rotateY(180deg);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
.card-back-btn{
   color: wheat;
    padding: 10px;
    font-size: 17px;
    text-transform: capitalize; 
    cursor: pointer;
    border: 2px solid white;
    color: whitesmoke;
    vertical-align: middle;
    margin-top: 15px;
}
.card-back-btn:focus, .card-back-btn:hover {
    border-color: #333;
}
.session-card-container p button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:#ee9617;
  background-image:linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.session-card-container button:hover {
  opacity: 0.7;
}
.session-ratings {
}
.section{
    background-color: #f8f9fa;
    padding:50px 25px;
}
/*.session-section-head {
    font-size: 25px;
    font-weight: 600;
    position: relative;
    text-align: center;
}
.session-section-head::after {
    content: '';
    display: block;
    background-color: black;
    height: 2px;
    width: 25px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: calc(100% + 5px);
}*/
/*-------FOOTER SECTION---------*/
.footer {
    color: #0b1c39;
    padding: 80px 0;
    background: #f8f9fa;
}
.footer li a{
    color: #0b1c39;
}
.footer li a:focus,.footer li a:hover{
    color: Blue;
    text-decoration:none;
}
.footer h4{
    color: #0b1c39;
}
.footer li{
    list-style-type: none;
    padding-top: 20px;
}
.list-inline li a{
    color: #0b1c39;
    font-size: 20px;
    padding-left: 10px;
}
.list-inline li a:hover,.list-inline li a:focus{
    color: #f09d11;
}

.footer-end{
    text-align: center;
    background-color: black;
    padding: 10px 0;
    color: #b5b3b3;
}
.scrollbtn{
    background:none;
    font-size: 30px;
    border: none;  
    position: fixed;
    display:block;
    bottom: 10px;
    right: 20px;
    color: #0b1c39;
}
.scrollbtn:hover,.scrollbtn:focus{
    color: #f09d11;
    outline: none; 
}
@media screen and (max-width:768px){
.navbar-right .dropdown-menu {
    display: block;
        right: -125px;
    top: 27px;
    width: 250px;
}